<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            text-align: center;
        }
        td{
            text-align: center;
        }
        .c1{
            background: chartreuse;
            width: 150px;
        }
        input{
            background: yellow;
        }
    </style>
</head>
<body>
<h3> 질문 수정</h3>
        <a href= />main page로</a><br>

<form action="/question/update2" method="post">
    {% csrf_token %}
    <table border="1">
        <tr>
            <td class="c1">항목</td>
            <td width="200">입력</td>
        </tr>
       <tr>
            <td class="c1">수정할 id</td>
            <td width="200">입력
                <input type="text" name="id" value={{ one.id }} readonly>
            </td>
        </tr>
        <tr>
            <td class="c1">question_text</td>
            <td width="200">입력
                <input type="text" name="question_text"  value={{ one.question_text }}>
            </td>

        </tr>
        <tr>
            <td class="c1">question_writer</td>
            <td width="200">입력
                <input type="text" name="question_writer"  value={{ one.question_writer }}>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button style="background: pink">질문정보 수정</button>
            </td>
        </tr>
    </table>

</form>

</body>
</html>