<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

        <body bgcolor=yellow>
        <h3>bbs index 페이지입니다.</h3><hr color=red>
        <h3>장고 홉페이지 bbs index 입니다.</h3>
        <a href= />main page로</a><br>
        <a href= /member/>member page로</a><br>
        <a href= admin/>admin page로</a><br>

        <hr color = "blue">
        <tr>
            <td>게시물 작성</td>
            <td>
                <a href="/bbs/insert">
                    <button>클릭</button>
                </a>
            </td>
        </tr>
        <tr>
            <td>게시물 수정</td>
            <td>
                <a href="/bbs/update">
                    <button>클릭</button>
                </a>
            </td>
        </tr>
</body>
</html>